streamlit
supabase>=2.0.0
numpy
pandas
scikit-learn
opencv-python-headless
face_recognition
dlib
# supabase==2.10.0
bcrypt
segno
pillow
librosa
resemblyzer
fpdf2
openpyxl
setuptools<70.0.0
git+https://github.com/ageitgey/face_recognition_models
